body{
    padding-top: 70px;
}

.jumbotron {
    background-color: #e6f7ff;
    color: #3c5e93;
}
h1 {
    color: #3c5e93;
    font-size: 80px;
    font-family: 'Oleo Script Swash Caps', cursive;
}
h2{
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    color: #3c5e93;
}

a {
    font-size: 20px;
}

li {
    padding-right: auto;
    padding-left: auto;
}

.thumbnail > img{
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}